body {
	padding: 5%;
}

@media only screen and (max-width: 1000px) {
	body {
		padding: 0%;
	}
}

p {
	display: inline-block;
}

.indent-1 {
	margin-left:2%
}

.indent-2 {
	margin-left:3%;
	background-color: #efc0c0;
}

body > div {
	padding-left: 2%;
	padding-right: 2%;
	padding-top: 1%;
	padding-bottom: 1%;
}

.section1 {
	background-color: #c2c9eb;
}

.section2 {
	background-color: #b7dfbd;
}

.section3 {
	background-color: #ebb7b7;
}